/* logo та зсилки (якорі)  color: #2196F3 */
/* Колір основного тексту  color: #212121; */
/* Додатковий колір тексту color: #757575; */
/* колір заголовоку та шрифту футера color: #ffffff;  */
/* футер та перша секція   background: #2F303A */
/* шрифти font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
:root {
    --font-family-color: #212121;
    --btn-color: #ffffff;
    --btn-br-color: #2196f3;
    --mine-title-color: #212121;
    --mine-color-text: #212121;
    --second-color-text: #757575;
    --accent-color: #2196f3;
    --mine-br-color: #ffffff;
    --second-br-color: #2f303a;
    --third-br-color: #e5e5e5;
    --btn-color-blak: #212121;
    --typical-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--font-family-color);
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid pink; */
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
/* --------------------------HEADER------------------------------------ */

.header {
    background: #ffffff;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-studio {
    color: var(--mine-title-color);
}

/* --------------------------HEADER-NAV----------------------------------- */

.header-nav {
    background-color: #ffffff;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mine-title-color);
}

.header-list .header-link.current {
    color: var(--accent-color);
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* --------------------------HERO----------------------------------- */

/* .hero {
    background-color: #2f303a;
    padding: 200px 452px 280px 452px;
} */

.hero-content {
    background-color: #2f303a;
    padding: 200px 92px 280px 92px;
    /* text-align: center; */
    /* padding: 200px 452px 280px 452px; */
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    min-width: 696px;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    color: var(--btn-color);
    background-color: var(--btn-br-color);
    /* background: #2196f3; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --------------------------SPECIFIX----------------------------------- */

.specifics {
    background-color: var(--mine-br-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.invisible-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.specifics-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--mine-color-text);
    margin-bottom: 10px;
}

.specifics-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
    max-width: 270px;
}

/* --------------------------ABOUT----------------------------------- */

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mine-color-text);
    margin-bottom: 50px;
}

/* --------------------------TEAM----------------------------------- */
.about {
    margin-bottom: 94px;
}

.team {
    background-color: #f5f4fa;
}

.team-text-center {
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mine-title-color);
    margin-bottom: 50px;
}

.team-title-bottom {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--mine-color-text);
    margin-bottom: 10px;
}
.team-text {
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}

/* --------------------------FOOTER----------------------------------- */

.footer {
    background-color: #2f303a;
    padding: 60px 215px;
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.footer-studio {
    color: #ffffff;
}

.footer-adres {
    font-style: normal;
    margin-top: 20px;
    /* outline: 1px solid pink; */
}

.footer-addres-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-link,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    display: block;
}

/* --------------------------portfolio.html----------------------------------- */

.filter {
    /* outline: 1px solid grey; */
    padding-top: 94px;
}

.filter-list {
    margin-bottom: 50px;
}

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--btn-color-blak);
    background: #f5f4fa;
    border-radius: 4px;
    border: none;
}

.filter-btn:hover,
.filter-btn:focus {
    background: var(--btn-br-color);
    color: var(--btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* border: none; */
}

.portfolio-title-text {
    padding: 20px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--mine-color-text);
}
.portfolio-text {
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}
